<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h2>User info</h2>

    <%= render 'users/form', user: @user %>
    <%= link_to "Show", @user, class: "user_#{@user.id}" %>
    <%= link_to "Back", users_path, class: "back" %>
  </div>
</div>
